.site-footer
  .site-footer__container
    .site-footer__services
      include _SocialSevices
    .site-footer__logo
      .site-logo.site-logo--dark
        a.site-logo__link(href="#")
          img.site-logo__image(src="./img/LogoDark.svg", alt="JavaRush")
    .site-footer__copyright
      | Программистами не рождаются
      br
      | &copy; 2017
