.site-header
  .site-header__container
    .site-header__logo
      .site-logo
        a.site-logo__link(href="#")
          img.site-logo__image(src="./img/Logo.svg", alt="JavaRush")
    .site-header__nav
      .site-nav
        .site-nav__item
          a.nav-link(href="http://javarush.ru/about/reviews") Отзывы
        .site-nav__item
          a.nav-link(href="http://javarush.ru/about/mission")
            | О
            | нас
        .site-nav__item
          a.nav-link(href="http://javarush.ru/quests/QUEST_HARVARD_CS50") CS50
    .site-header__c2a
      a.button.button--primary.button--md.c2a-button(href="https://javarush.ru/me")
        span.button__label
          | Начать
          span.c2a-button__secondary &nbsp;обучение
