.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.2;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.section-title__icon {
  font-size: 40px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
