$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$extra-large-breakpoint: 1240px;

$site-layout-min-width: 320px;
$site-layout-max-width: 1366px;

$color-corporate: #ff7337;

$color-site-bg: #2c3439;
$color-section-bg-1: #1f2023;
$color-section-bg-2: $color-site-bg;
