.benefits-section
  .benefits-section__container
    .benefits
      .benefits__item
        .benefit-card(class="wow bounceIn" data-wow-offset="100")
          .benefit-card__picture
            img.benefit-card__image(src="./img/BenefitsSectionCase1.gif" alt="")
          .benefit-card__description
            | Cредняя зарплата Java&#8209;программиста — 2000$
      .benefits__item
        .benefit-card(class="wow bounceIn" data-wow-offset="100" data-wow-delay="0.25s")
          .benefit-card__picture
            img.benefit-card__image(src="./img/BenefitsSectionCase2.gif" alt="")
          .benefit-card__description
            | Шикарные перспективы
      .benefits__item
        .benefit-card(class="wow bounceIn" data-wow-offset="100" data-wow-delay="0.5s")
          .benefit-card__picture
            img.benefit-card__image(src="./img/BenefitsSectionCase3.gif" alt="")
          .benefit-card__description
            | Java&#8209;программисты нужны в каждой стране&nbsp;мира

    .benefits-section__c2a(class="wow fadeIn" data-wow-delay="0.75s")
      a(class="button button--primary button--lg c2a-button c2a-button--large" href="https://javarush.ru/me")
        | Начать обучение
