.hero-section
  h1.hero-title(class="wow fadeInDown")
    | Чтобы стать программистом, нужно программировать
  h2.hero-subtitle(class="wow fadeInUp")
    | JavaRush — это онлайн-курс обучения <span class="text-corporate">программированию на Java</span>, который&nbsp;на&nbsp;80%&nbsp;состоит&nbsp;из&nbsp;практики

  .hero-content
    .hero-laptop(class="wow fadeInUp" data-wow-delay="0.5s")
      .hero-laptop__bg
        .hero-laptop__editor
          include ../_TypeCode

    .hero-decoration-notebook(class="wow fadeInLeft" data-wow-delay="0.25s")
    .hero-decoration-headphones(class="wow fadeInLeft" data-wow-delay="0.5s")
    .hero-decoration-pencil(class="wow fadeInRight" data-wow-delay="0.25s")
    .hero-decoration-pencil-2(class="wow fadeInRight" data-wow-delay="0.25s")
    .hero-decoration-coffecup(class="wow fadeInRight" data-wow-delay="0.5s")
