.info-section(id="info-section")
  .info-section__container
    .info-card
      .info-card__picture(class="wow bounceIn" data-wow-offset="200")
        img.info-card__image(src="./img/InfoSectionPractice.png" alt="")
      .info-card__content(class="wow fadeInRight" data-wow-offset="200")
        h3 Обучение на 80% состоит из&nbsp;практики
        p
          | В Интернете много хороших книг, но читая книги программистом не станешь.
          | Чтобы стать программистом, нужно много программировать. <b><span class="text-corporate">JavaRush</span></b> — это
          | онлайн-курс обучения программированию на Java, на&nbsp;80% состоящий из практики.
          | Именно то, что нужно чтобы стать Java&#8209;программистом.

    .info-card(class="info-card--right")
      .info-card__picture(class="wow bounceIn" data-wow-offset="200")
        img.info-card__image(src="./img/InfoSectionPractice2.png" alt="")
      .info-card__content(class="wow fadeInLeft" data-wow-offset="200")
        h3 1200 практических заданий
        p
          | Сколько практических заданий должен содержать идеальный курс по&nbsp;Java?
          | 10,&nbsp;20,&nbsp;100? Курс <b><span class="text-corporate">JavaRush</span></b> содержит 1200&nbsp;практических задач возрастающей сложности.
          | Задачи небольшие, но их много, очень много. Как раз тот минимум, выполнив который,
          | вы получите опыт необходимый для&nbsp;трудоустройства.

    .info-card
      .info-card__picture(class="wow bounceIn" data-wow-offset="200")
        img.info-card__image(src="./img/InfoSectionJavaMan.png" alt="")
      .info-card__content(class="wow fadeInRight" data-wow-offset="200")
        h3 500+ часов опыта программирования на&nbsp;Java
        p
          | Курс разбит на 40 уровней. Вы можете перейти на следующий уровень, только если
          | решили большую часть задач текущего уровня. Начиная с маленьких и легких и заканчивая
          | большими и очень полезными. Каждый, дошедший до конца, получит 500+&nbsp;часов практического опыта.
          | Серьезная&nbsp;заявка на победу. И&nbsp;на&nbsp;работу.
