include ../_PersonQuote

.review-section
  .review-section__container
    h3.section-title
      | Отзывы

    .review-slider
      .glide(id="review-slider")
        .glide__wrapper
          ul(class="glide__track")
            li(class="glide__slide")
              +PersonQuote('./img/ReviewSectionAva2.jpg', 'Сайра Андасбаева', {link: "/about/reviews"}, true)
                | Я просто в восторге от уроков JavaRush! Я сама училась по специальности "Информационные системы"
                | где нас учили программировать, но никогда уроки программирования меня не привлекали, они
                | казались мне скучными, нудными и непонятными. А тут все так классно и просто описано.
                | Есть, конечно, сложные темы, но для их понимания очень много дополнительного материала,
                | который вы выкладываете. Огромное вам Спасибо!
            li(class="glide__slide")
              +PersonQuote('./img/ReviewSectionAva.jpg', 'Виталий Левашов', {link: "/about/reviews"}, true)
                | Просто отличнейший ресурс!!! Материал изложен весьма доступно, мотивирующие тексты впечатлили,
                | а практические задания дак вообще мозг "наизнанку выворачивают". От решения некоторых заданий
                | возникает ощущение как буд-то карабкаешься на Эверест в одних трусах&nbsp;=) Всех благ Вам!!!

        .glide__bullets
