include ../_Icon
include ../_PersonQuote

.success-section
  .success-section__container
    h3.section-title
      | История успеха
      span.section-title__icon
        +Icon('history')

    +PersonQuote('./img/SuccessSectionAva.jpg', 'Илья Provisota Альтерович, Альпинист&#8209;программист', {link: "/stories"})
      | Я оказался в одной из четырёх команд, а в последствии получилось, что проект я писал
      | практически сам. Примерно за месяц (параллельно работая на высотке) я сам написал
      | вполне сносное, как мне кажется, веб-приложение, основанное на тех же технологиях и
      | паттернах которые мы использовали на стажировке JavaRush (плюс jsp, Spring Security, и ещё
      | кое что). Если кому интересно, могу кинуть ссылку на открытый репозиторий с исходниками проекта...
