.site-header
  .site-header__container
    .site-header__logo
      .site-logo
        a.site-logo__link(href="#")
          img.site-logo__image(src="./img/Logo.svg", alt="JavaRush")
    .site-header__nav
      .site-nav
        .site-nav__item
          a.nav-link(href="#info-section") О нас
        .site-nav__item
          a.nav-link(href="#reviews-section") Отзывы
    .site-header__c2a
      a.button.button--primary.button--md.c2a-button(href="https://javarush.ru/me")
        span.button__label
          | Начать
          span.c2a-button__secondary &nbsp;обучение
