.typedcode
  span#typed-1.typed
  br
  span#typed-2.typed

.typed-strings-1
  p
    span.text-green public class JavaRush {
    | <br> public static void main(
    span.text-corporate String[] args
    | ) {
.typed-strings-2
  p
    span.text-gray   // Быть программистом сложно
  p
    span.text-green   System.out.println(
    span.text-red “Я буду Java-программистом”
    span.text-green );
    |<br> }
    br
    span.text-green }
