.site-layout {
  overflow: hidden; // required for inner blocks animation
  position: relative;
  width: 100%;
  min-width: $site-layout-min-width;
  max-width: $site-layout-max-width;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-site-bg;
}

.site-layout__glow {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-x: hidden;

  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 45%;
    background-image: radial-gradient(ellipse at center top, rgba(48, 138, 181, 0.45) -5%, transparent 47%);
    transform: translateX(5%);
  }
}

.site-layout__header {
  position: relative;
}

.site-layout__content {
  position: relative;
}

.site-layout__footer {
  position: relative;
}
